@font-face{
    font-family: inter;
    src: url("/fonts/Inter.ttf");
}
@keyframes footer-scroll{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
}
.footer-main-topic, .footer-units-option, .footer-units-list{
    animation: footer-scroll 2s ease;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;
}
.footer-image, .footer-website-description{
    animation: footer-scroll;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
footer{
    background-image: url("/images/footer-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inter;
     padding-top: 50px;
    justify-self: flex-end;
}
.footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    padding-bottom: 50px;
}
.footer-image{
    width: 10vw;
    min-width: 150px;
}
.footer-main-topic{
    margin-top: 5px;
    color: rgba(255,255,255,0.9);
    font-size: clamp(40px,3vw,70px);
    font-weight: 500;
}
.column1{
    color: rgba(255,255,255,0.8);
    width: 30vw;
    margin-left: 100px;
}
.column2{
    color: rgba(255,255,255,0.8);
    width: 40vw;
    margin-left: 50px;
}
.copyright{
    color: rgba(255,255,255,0.8);
    text-align: center;
    margin: 5px;
}
.footer-units-list, .footer-units-option{
    list-style-type: none;
    padding: 0;
}
.footer-units-option{
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    font-size: clamp(15px,2vw,20px) !important;
    font-weight: 300;
}
.footer-website-description{
    font-size: clamp(15px,2vw,20px) !important;
}
@media(max-width: 770px){
    .footer-main-topic{
        text-align: center;
    }
    .footer-units-option{
        text-align: center;
    }
    .footer-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding-bottom: 50px;
    }
    .column1{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
    }
    .column2{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
    }
    .footer-website-description{
        margin-top: 30px;
        text-align: center;
    }
}